<div class="mx-1">
    <div id="serach bar container" class="text-center d-felx flex-column justify-content-center align-items-center mx-2">
        <p class="text-uppercase fs-2 my-2 lh-lg">stock search</p>
        <form (ngSubmit)="onSearch()" class="d-flex mx-auto rounded-4 border-2 shadow-none col-lg-3 col-md-4 col-sm-12" style="max-width: 400px; width:auto; border: 1px solid #1a27a3">
            <input type="text" style="border: none;" [formControl]="searchQuery" class="form-control rounded-4 shadow-none" placeholder="Enter stock ticker symbol" aria-label="Stock ticker symbol" name ="search" [matAutocomplete]="auto">
            <button class="btn shadow-none" type="submit" style="border: 0;"><i class="bi bi-search" style="color: #1a27a3"></i></button>
            <button class="btn shadow-none" type="button" style="border: 0;" (click)="onClear()"><i class="bi bi-x-lg" style="color: #1a27a3"></i></button>
            <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngIf="isLoading">
                    <mat-spinner [diameter]="30"></mat-spinner>
                </mat-option>
                <!-- <ng-container *ngIf="!isLoading"> -->
                    <mat-option  *ngFor="let option of filteredOptions" [value]="option.symbol" (click)="onSearchOptions(option.symbol)">
                        {{ option.symbol+' | '+option.description }}
                    </mat-option>
                <!-- </ng-container> -->
            </mat-autocomplete>
        </form>
    </div>
    <div *ngIf="showError" class="container">
        <div class="row justify-content-center my-4 mx-2">
            <div class="col-lg-9 col-md-12">
                <div class="alert alert-danger text-center alert-dismissible show" role="alert">
                    Please enter a valid ticker
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            </div>
        </div>
    </div>
    <app-details *ngIf="isSearchResult()"></app-details>
</div>



